{{template "base" .}}
{{define "title"}}Главная страница{{end}}
{{define "main"}}
    <h2>Стаканы ордеров</h2>
    <p>Какой-то интересный текст...</p>
    <form>
        <input type="text" name="symbol" placeholder="ETHBTC" />
        <input type="submit" value="Показать order"/>
    </form>
{{end}}